.background {
  background-color: white;
  background-image: url("1.png");
  background-size: 450px;
  color: darkblue;
  font-family: Comfortaa;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

p {
  margin: 10px 0;
}

.flex {
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 2px solid darkblue;
  padding: 0;
  margin: 0;
  display: flex;
}
.header .logo {
  height: 50px;
  margin: 0 25px;
}
.header .link {
  display: inline;
  color: darkblue;
  margin: auto;
  text-decoration: none;
}
.header .link:hover {
  text-decoration: underline;
}
.header .username {
  margin: auto 25px;
  color: darkblue;
  text-decoration: none;
}
.header .username:hover {
  text-decoration: underline;
}

.block {
  background-color: white;
  height: fit-content;
  display: center;
  margin-top: 100px;
  padding: 15px 25px;
  border-radius: 25px;
  border: 2px solid darkblue;
}

.center {
  margin: auto;
  padding: 1px;
  width: fit-content;
}

.classic-button {
  background-color: white;
  border: 2px solid darkblue;
  border-radius: 5px;
  font-family: Comfortaa;
  font-size: 20px;
  color: darkblue;
  height: fit-content;
  padding: 5px 7px;
  margin: auto 10px;
  position: relative;
}
.classic-button:hover {
  background-color: #b6d7ff;
}

.today-button {
  background-color: white;
  border: 2px solid darkblue;
  border-radius: 5px;
  font-family: Comfortaa;
  font-size: 20px;
  color: darkblue;
  height: fit-content;
  padding: 5px 7px;
  margin: auto 25px;
  position: relative;
}
.today-button:hover {
  background-color: #b6d7ff;
}
.today-button:hover::after {
  content: attr(date);
  position: absolute;
  width: fit-content;
  margin: auto;
  left: 150%;
  z-index: 3;
  background: rgba(0, 42, 167, 0.6);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Comfortaa;
  font-size: 14px;
  padding: 5px;
}

.left-right-button {
  background-color: white;
  margin: auto 0px;
  border: none;
  height: 30px;
  width: 30px;
  font-family: Comfortaa;
  font-size: 26px;
  font-weight: 300;
  color: darkblue;
  border-radius: 50%;
}
.left-right-button:hover {
  background-color: #b6d7ff;
}

.input-field {
  display: block;
  width: 100%;
  min-width: 350px;
  margin: 10px 0;
  padding: 5px;
  font-size: 20px;
  font-family: Comfortaa;
  border: 1px solid darkblue;
  border-radius: 5px;
}

#error-message {
  color: red;
}

.timetable {
  position: relative;
  top: 52px;
  display: flex;
  width: 100%;
}

.side-box {
  position: fixed;
  top: 52px;
  width: fit-content;
  padding: 10px;
  height: 100%;
  min-height: 100vh;
  background: white;
  border-right: 2px solid darkblue;
  font-size: 20px;
}

.small-calendar {
  margin: 15px 0;
}

.link {
  color: darkblue;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.weekdays {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

.weekdays p {
  display: inline;
  width: 14.2857142857%;
  text-align: center;
  color: darkblue;
  font-size: 16px;
}

.days {
  margin: 0;
  padding: 0;
  width: 210px;
}

.days p {
  display: inline-block;
  width: 30px;
  padding: 7.5px 0;
  margin: 0;
  text-align: center;
  border-radius: 100%;
  color: darkblue;
  font-size: 16px;
}

.days .active {
  background: #b6d7ff;
}

.checkbox {
  accent-color: darkblue;
  height: 17px;
  width: 17px;
  margin: 10px;
}

.content {
  position: fixed;
  width: calc(100% - 232px);
  margin-left: 232px;
  z-index: -1;
  padding: 0;
  height: calc(100% - 52px);
  min-height: calc(100vh - 52px);
}

.calendar {
  width: 100%;
  height: calc(100% - 18px);
  border: 1px solid;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
}

.calendar-row {
  height: 14.2857142857%;
}

td {
  width: 14.2857142857%;
  padding: 3px;
  background: white;
  border: 1px solid;
  border-left: none;
  border-collapse: collapse;
}
td div {
  height: 100%;
  text-align: center;
}

.active {
  margin: auto;
  display: block;
  width: 23px;
  margin-top: 3px;
  background: #b6d7ff;
  border-radius: 50%;
}

.calendar-event {
  border-radius: 5px;
  border: none;
  width: 95%;
  max-width: 95%;
  height: fit-content;
  margin: 5px;
  background: #b6d7ff;
  display: flex;
}
.calendar-event .title {
  display: inline;
  text-align: center;
  margin: auto auto auto 3px;
  font-size: 12px;
}
.calendar-event .time {
  display: inline;
  margin: auto 3px auto auto;
  font-size: 12px;
}

.event {
  width: 100%;
  min-width: 250px;
  background-color: white;
  height: fit-content;
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid darkblue;
  font-size: 16px;
}
.event .classic-button {
  display: block;
  margin: 5px;
}
.event .right {
  margin-right: 0;
  margin-left: auto;
}
.event .title {
  font-size: 20px;
}
.event .category {
  padding: 5px;
  margin: auto;
  margin-right: 0;
  background: #b6d7ff;
  border-radius: 5px;
}
.event .datetime {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.event .description {
  font-size: 16px;
}
.event .users {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.event .user {
  display: inline;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-block {
  margin: 75px auto;
  padding: 20px;
  border: 2px solid darkblue;
  border-radius: 25px;
  background-color: white;
  width: fit-content;
  position: relative;
}
.popup-block .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup-block .close:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
